* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 250px 1fr 4fr 1fr;
}

header {
  grid-column: span 12;
}
header img {
  width: 100%;
  height: 100%;
}

nav {
  grid-column: span 12;
  background-color: red;
  color: wheat;
  display: flex;
  align-items: center;
}
aside {
  grid-column: span 3;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
}
main {
  background-image: (
    "https://media.istockphoto.com/id/517865980/tr/foto%C4%9Fraf/organic-orange-trees.jpg?s=612x612&w=0&k=20&c=Yj8fsK5doi0rFnXE-EnG8eDrnNgPuyB4eCCBB9FvwIw="
  );
  grid-column: span 9;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
footer {
  grid-column: span 12;
  display: flex;
}
.tr {
  flex: 1;
  color: red;
  font-size: 3rem;
}
.nl {
  flex: 1;
  background-color: yellow;
  font-size: 3rem;
}
