.yazi {
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto;
  width: 50svw;
}

.yazi1 {
  background-color: darkcyan;
}

.yazi2 {
  background-color: fuchsia;
}

.yazi3 {
  background-color: orange;
}

.yazi4 {
  background-color: rebeccapurple;
}

.yazi5 {
  background-color: crimson;
}

.yazi6 {
  background-color: teal;
}
