.home-bgImg-container{
   @include bgImg(100vh, $pathname1)
}

.home{
    
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__name{
        font-size: 5rem;
        padding-bottom:1rem ;
        border-bottom: 2px solid $text-color;
        width: 100%;
        &--last{
            color: red;
            font-weight: 700;
        }
    }
}

.about {
    width: 70%;
    margin: 2rem auto;
  
    .about__job {
      // border: 2px solid red;
      margin: 1rem;
      background-color: lighten($primary-color, 10%);
      padding: 1rem;
      border-bottom: 5px solid $secondary-color;
      border-radius: 5px;
      h2,h3{
          margin: 0.5rem 0;
      }
  
      h6{
          margin: 0.3rem 0;
      }
    }
  }