* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #e64c3e;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: antiquewhite;
  padding: 1rem;
}
h1 {
  font-size: 3rem;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}
input {
  width: 20rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 5px;
}
button {
  width: 7rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #f1c2ce;
  color: #e6495b;
  border: none;
}
button:hover {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bolder;
}
#output {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;

  width: 51rem;
  margin: auto;
  margin-top: 3rem;
}
