@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  margin: auto;
  width: 80%;
  background-color: rgb(48, 46, 46, 0.815);
  border-radius: 20px;
  color: white;
  padding: 20px;
}
.baslik1 {
  font-family: "DM Serif Text", serif;
  font-size: 90px;
  text-align: center;
  font-style: italic;
}
p {
  font-size: 1.5rem;
  text-align: justify;
}
.span1,
.baslik2 {
  font-family: "DM Serif Text", serif;
  color: red;
  font-style: italic;
}
h2 {
  margin: 25px 0;
}
.img {
  text-align: center;
}
img {
  box-shadow: 5px 5px 500px red;
  width: 400px;

  border-radius: 30px;
}
.tarih {
  text-align: center;
  padding: 25px;
}
ul {
  width: 100%;
}
li {
  font-size: 24px;
  line-height: 50px;
  list-style-position: inside;
}
a {
  text-decoration: none;
}
.last {
  text-align: center;
}
